.git
configure
config.guess
config.h.in
config.sub
depcomp
install-sh
ylwrap
test-driver
autom4te.cache
build
build-*
*.gz
**/Makefile
**/Makefile.in
**/.deps
**/.libs
**/*.o
**/*.so
**/*.la
**/*.lo
**/*.mod
*.f90

