/stamp-h1
/missing
/m4/lt~obsolete.m4
/m4/ltversion.m4
/m4/ltsugar.m4
/m4/ltoptions.m4
/m4/libtool.m4
/ltmain.sh
/libtool
/ipcbench_lcm_timestamp_t.h
/ipcbench_lcm_timestamp_t.c
/install-sh
/depcomp
/configure
/config.sub
/config.status
/Makefile
/Makefile.in
/aclocal.m4
/autom4te.cache/*
/bench_lcm
/config.guess
/config.h
/config.h.in
/config.log
