/.deps
/config.*
/autom4te.cache/
/aclocal.m4
/doc/
/m4
/Makefile.in
/configure
/depcomp
/install-sh
/libtool
/ltmain.sh
/missing
/stamp-h1
CMake*
cmake*
/ach*.tar*
achbench
ach-example
achpipe.bin
achtool
achtest
achcat
ach
achd
*.1
*.so*
/man/ach-manual.html
/py-compile
*.pyc
/python/build
/python/dist
/python/MANIFEST
/python/setup.py
/debian/ach-utils

